<!--act1 > movie > templates > movie > new.html -->
{% extends 'base.html' %}
{% block content %}

<h1 class="text-center">추가하기</h1>
<form action="{% url 'movie:new' %}" method='POST'>
    {% csrf_token %}
    제목: <input type="text" name="title"><br>
    대상: <input type="text" name="audience"><br>
    개봉일: <input type="datetime" name="open_date" placeholder="2000-00-00"><br>
    장르: <input type="text" name="genre"><br>
    평점: <input type="text" name="score"><br>


    <input type="submit" value='저장하기'>

</form>


{% endblock %}